@page "/reports/changes"
@inject HttpClientX http

<div class="container">
    <h3>گزارش تغییرات قبوض</h3>

    @if (yearPeriods == null)
    {
        <Loading />
    }
    else
    {
        <div class="row mt-5">
            <div class="col-md-3">
                <EditForm Model="model" OnValidSubmit="Submit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>دوره</label>
                        <InputSelect @bind-Value="YearPeriodStr" class="form-control">
                            @foreach (var item in yearPeriods)
                                {
                                <option>@item</option>
                                }
                        </InputSelect>
                    </div>
                    <div class="form-group">
                        <Label For="() => model.FieldName" />
                        <InputSelect @bind-Value="model.FieldName" class="form-control">
                            @foreach (var item in ChangesReportRequest.FieldNames)
                                {
                                <option value="@item">@DisplayUtils.DisplayName(typeof(ElecBill), item)</option>
                                }
                        </InputSelect>
                    </div>
                    <div class="form-group">
                        <Label For="() => model.CompareWith" />
                        <InputSelect @bind-Value="model.CompareWith" class="form-control">
                            @foreach (var item in DisplayUtils.GetEnumValues<ChangesReportRequest.CompareWithEnum>())
                                {
                                <option value="@item">@DisplayUtils.DisplayName(item)</option>
                                }
                        </InputSelect>
                    </div>
                    <div class="form-group">
                        <Label For="() => model.MinChangePercent" />
                        <InputNumber @bind-Value="model.MinChangePercent" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="تائید" />
                    </div>
                </EditForm>
            </div>
            <div class="col-md-9">
                @if (loading)
                {
                    <Loading />
                }
                else if (data != null)
                {
                    <ObjectTable Data="data" />
                }
            </div>
        </div>
    }
</div>



@code {

    private bool loading = false;
    private List<string> yearPeriods;
    private ChangesReportRequest model = new ChangesReportRequest
    {
        FieldName = ChangesReportRequest.FieldNames[0],
        MinChangePercent = 10
    };

    private string YearPeriodStr
    {
        get => model.Year + "-" + model.Period;
        set
        {
            var split = value.Split('-');
            model.Year = int.Parse(split[0]);
            model.Period = int.Parse(split[1]);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        yearPeriods = await http.GetFromJsonAsync<List<string>>("Bills/YearPeriods");
        if(yearPeriods.Count > 0)
            YearPeriodStr = yearPeriods[0];
    }

    private List<ChangesReportResponse> data;

    private async Task Submit()
    {
        loading = true;
        data = await http.PostAsJsonAsync<ChangesReportRequest, List<ChangesReportResponse>>("Reports/Changes", model);
        loading = false;
    }

}
