@page "/"
@page "/dashboard"
@attribute [Authorize]

@inject HttpClientX http


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-6" style="min-height:500px;">
            @if (topUsagesMainCity != null)
            {
                <div class="card mt-4 bg-light">
                    <div class="card-header text-center text-white bg-secondary">
                        مشترکین پرمصرف @mainCity <br />
                        (@topUsagesMainCity.Year دوره @topUsagesMainCity.Period)
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>مشترک</th>
                                    <th>جمع</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in topUsagesMainCity.List)
                                {
                                    <tr>
                                        <td>
                                            <a href="/subscribers/details/@item.Id">@item.Name</a>
                                        </td>
                                        <td>@item.Sum.ToString("N0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <Loading />
            }
        </div>
        <div class="col-xl-4 col-md-6" style="min-height:500px;">
            @if (topUsagesOthers != null)
            {
                <div class="card mt-4 bg-light">
                    <div class="card-header text-center text-white bg-secondary">
                        مشترکین پرمصرف سایر شهرستانها<br />
                        (@topUsagesOthers.Year دوره @topUsagesOthers.Period)
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>مشترک</th>
                                    <th>جمع</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in topUsagesOthers.List)
                                {
                                    <tr>
                                        <td>
                                            <a href="/subscribers/details/@item.Id">@item.Name</a>
                                        </td>
                                        <td>@item.Sum.ToString("N0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <Loading />
            }
        </div>
        <div class="col-lg-9" style="min-height:300px;">
            @if (totalPrices != null)
            {
                <div class="card mt-4 bg-light">
                    <div class="card-header text-center text-white bg-secondary">اطلاعات کلی قبوض برق</div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@(DisplayUtils.DisplayName<PeriodTotalInformation>(x => x.TotalPriceMainCity).Replace("شهر اصلی", mainCity))</th>
                                    <th>@(DisplayUtils.DisplayName<PeriodTotalInformation>(x => x.TotalPriceOthers))</th>
                                    <th>@(DisplayUtils.DisplayName<PeriodTotalInformation>(x => x.TotalPriceSum))</th>
                                    <th>@(DisplayUtils.DisplayName<PeriodTotalInformation>(x => x.BillsCountMainCity).Replace("شهر اصلی", mainCity))</th>
                                    <th>@(DisplayUtils.DisplayName<PeriodTotalInformation>(x => x.BillsCountOthers))</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in totalPrices)
                                {
                                    <tr>
                                        <th>@item.YearPeriod</th>
                                        <td>@item.TotalPriceMainCity.ToString("N0")</td>
                                        <td>@item.TotalPriceOthers.ToString("N0")</td>
                                        <td>@item.TotalPriceSum.ToString("N0")</td>
                                        <td>@item.BillsCountMainCity.ToString("N0")</td>
                                        <td>@item.BillsCountOthers.ToString("N0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <Loading />
            }
        </div>
    </div>
</div>

@code {
    private string mainCity;
    private List<PeriodTotalInformation> totalPrices;
    private TopSubscribers topUsagesMainCity;
    private TopSubscribers topUsagesOthers;


    protected override async Task OnInitializedAsync()
    {
        var city = await http.GetFromJsonAsync<City>("Place/MainCity");
        mainCity = city.Name;
        topUsagesMainCity = await http.GetFromJsonAsync<TopSubscribers>("Dashboard/TopUsageSubscribers?mainCity=true");
        topUsagesOthers = await http.GetFromJsonAsync<TopSubscribers>("Dashboard/TopUsageSubscribers?mainCity=false");
        totalPrices = await http.GetFromJsonAsync<List<PeriodTotalInformation>>("Dashboard/TotalPrices");
    }
}
